@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'iranyekan_numbers','iranyekan';
    background-color: #202d36;
}
header {
    background-color: #2b3743;
    box-shadow: 0 0 3px 0 #141c22;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
header p {
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
header i {
    color: white;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}
header i span{
    font-family: 'iranyekan_numbers','iranyekan';
}
input{
    color: white;
    background-color: #2b3743;
    border: #2b3743 solid 2px;
    padding: 0.5rem;
    padding-left: 5rem;
    font-family: 'iranyekan_numbers','iranyekan';
    box-shadow: 0 0 3px 0 #141c22;
}
svg{
    color: white;
    margin-left: -12rem;
}
select{
    box-shadow: 0 0 3px 0 #141c22;
    color: white;
    background-color: #2b3743;
    border-radius: 0.25rem;
    border: #2b3743 solid 2px;
    padding: 0.5rem;
    font-family: 'iranyekan_numbers','iranyekan';
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;    
}
section{
    background-color: #2b3743;
    font-family: 'iranyekan_numbers','iranyekan';
    border-radius: 0.25rem;
    border: #2b3743 solid 2px;
    box-shadow: 0 0 3px 0 #141c22;
gap: 10%;
}
.image{
    border-top-right-radius:0.25rem; 
    border-top-left-radius:0.25rem; 
}
.text{
    margin: auto;
    width: 90%;
}
h4{
color: white;
margin-bottom: 0.85rem;
}
p{
    margin-bottom: 0.3rem;
color: rgba(255, 255, 255, 0.747);
}
ins{
    color: rgba(255, 255, 255, 0.336);
text-decoration: none;
}