@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
body {
    font-family: 'iranyekan_numbers','iranyekan';
    background-color: #fafafa;
}
header {
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 #ffffff77;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
.containe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
header p {
    color: #98999b;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
header i {
    color: #98999b;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}
header i span {
    font-family: 'iranyekan_numbers','iranyekan';
}
input {
    color: #737373;
    background-color: #ffffff;
    border: #ffffff solid 2px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    padding-left: 5rem;
    font-family: 'iranyekan_numbers','iranyekan';
    box-shadow: 0 0 3px 0 #ffffff77;
}
svg {
    color: #737373;
    margin-left: -12rem;
}
select {
    box-shadow: 0 0 3px 0 #ffffff77;
    color: #737373;
    background-color: #ffffff;
    border-radius: 0.25rem;
    border: #ffffff solid 2px;
    padding: 0.5rem;
    font-family: 'iranyekan_numbers','iranyekan';
}
.card {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    margin: auto;
    gap: 4%;
    width: 90%;    
}
section {
    background-color: #ffffff;
    font-family: 'iranyekan_numbers','iranyekan';
    border-radius: 0.25rem;
    border: #ffffff solid 2px;
    box-shadow: 0 0 6px 0 #ffffff34;
    width: 100%;
}
.image {
    width: 100%;
}
img {
    width: 100%;
    border-top-right-radius: 0.25rem; 
    border-top-left-radius: 0.25rem; 
}
.text {
    margin: auto;
    width: 90%;
}
h4 {
color: #161616;
margin-bottom: 0.85rem;
}
p {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    color: #626262;
}
ins {
    font-size: 0.7rem;
    color: #717171;
    text-decoration: none;
}
@media (max-width:800px) {
    .card{
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }
}
@media (max-width:600px) {
    .card {
        grid-template-columns: 40% 40%;
    }   
    .containe {
        flex-direction: column;
    }
    div select {
        margin-top: 1rem;
    }
}
@media (max-width:500px){
    .card {
        grid-template-columns: 70%;
        justify-content: center;
        gap: 1%;
    }
}